<div class="gallery -{{post.post_type}}">

	{% for image in gallery %}
		<div class="gallery-thumb -{{class ? class : post.post_type}}">
			<img data-src="{{image.url|resize(500, 500)}}" src="{{image.url|resize(100, 100)}}" class="lazyload" alt="{{image.title}}">
		</div>
	{% endfor %}

</div>