{% if '-mega' in item.classes %}
    <li class="subnav-item -mega">
        <a class="subnav-item-link" href="{{child.get_link}}">
            <div class="subnav-item-inner -mega">
                {% set term = TimberTerm(child.menu_object.object_id) %}
                {% set img = TimberImage(term.thumbnail_image) %}
                <div class="subnav-item-part -first">
                    <img data-src="{{img.src|resize(200, 200)}}" src="{{placeholder}}" class="tease-img lazyload" alt="{{child.name}} Thumbnail">
                </div>
                <div class="subnav-item-part">
                    <h4 class="subnav-item-title">{{child.title}}</h4>
                    <p class="subnav-item-desc">{{term.below_title}}</p>
                </div>
            </div>
        </a>
    </li>
{% else %}
    <li class="subnav-item -reg">
        <div class="subnav-item-wrap">
            <a href="{{child.link}}" class="subnav-item-title subnav-item-link cell">{{child.title}}</a>
        </div>
    </li>
{% endif %}