{# NOTE: Index is not being used anywhere #}

{% extends "base.twig" %}

{% block before_content %}{% endblock %}

{% block content %}
	<section class="spotlight">
		<div class="contain--xl">
			<h1 class="spotlight-title"><span class="spotlight-title-compliment">In the</span> <span class="spotlight-title-main">Spotlight</span></h1>
			<div class="spotlight-main">
				<div class="spotlight-tab-content">
					<img src="{{placeholder}}" alt="">
				</div>
			</div>
			<a href="#" class="spotlight-next">Next</a>
			<a href="#" class="spotlight-prev">Prev</a>
			<nav>
				<ul class="spotlight-tabs">
					{% for row in post.get_field('connected_content') %}
						<li class="spotlight-tab">

						{% if row.connected_content_type == 'collection' %}

							{% set c = TimberTerm(row.connected_collection) %}
							<a href="#{{c.title|sanitize}}" class="spotlight-tab-link" data-src="{{TimberImage(c.featured_image).src|resize(800,530)}}">
								<p class="spotlight-sidebar-compliment">COLLECTION</p>
								<h5 class="spotlight-sidebar-compliment">{{c.title}}</h5>
							</a>
						
						{% elseif row.connected_content_type == 'post_project' %}

							{% set p = TimberPost(row.connected_post) %}
							<a href="#{{p.title|sanitize}}" class="spotlight-tab-link" data-src="{{p.thumbnail.src|resize(800,530)}}">
								{# <pre style="color:white">{{dump(p)}}</pre> #}
								<p class="spotlight-sidebar-compliment">{{p.post_type == 'post' ? 'Stories' : 'Bespoke'}}</p>
								<h5 class="spotlight-sidebar-compliment">{{p.title}}</h5>
							</a>

						{% endif %}

						</li>
					{% endfor %}

					{# 
					<li class="spotlight-tab">
						<a href="#post-slug-1" class="spotlight-tab-link" data-src="http://placehold.it/800x530/8899dd">
							<p class="spotlight-sidebar-compliment">Bespoke Project</p>
							<h5 class="spotlight-sidebar-title">Antheria Jewelry</h5>
						</a>
					</li>

					<li class="spotlight-tab">
						<a href="#post-slug-2" class="spotlight-tab-link" data-src="http://placehold.it/800x530/f78e12">
							<p class="spotlight-sidebar-compliment">Other thing</p>
							<h5 class="spotlight-sidebar-title">Antheria Jewelry</h5>
						</a>
					</li>
					 #}
					{# <li class="spotlight-tab">
					<p>Collection</p>
					<p>Emma</p>
					</divli

					<li class="spotlight-tab">
					<p>Stories</p>
					<p>A classic newport beach wedding</p>
					</li>
					
					<li class="spotlight-tab" id="">
					<p>Bespoke Project</p>
					<p>Reveal NYC</p>
					</li> #}

				</ul>
			</nav>
			
		</div>
	</section>
	
	<section class="home-section -about text-center">
		{# <div class="contain--lg"> #}
				{% set about_img = TimberImage(post.about_image) %}
				<div class="home-section-img">
					<img class="about-image" src="{{about_img.src}}" alt="{{about_img.title}}">
				</div>
				<div class="home-section-text">
					<p class="home-quote -about">{{post.about_tagline}}</p>
					<p>{{post.about_description}}</p>
					<a href="" class="home-link -about">Explore our work</a>
					{% include 'partials/_social-list.twig' with { class : '-about' } %}
				</div>	

		{# </div> #}
	</section>

	<section class="home-section -collections text-center">
		<div class="home-section-inner">

				<div class="home-section-img -collections">
					<div class="home-img -collections">
						{% include 'utility/svg.twig' with { file : 'wordmark', prefix : 'wordmark' } %}
			            {% include 'utility/svg.twig' with { file: 'text-logo', prefix: 'logo' } %}
						<p class="home-title home-link -collections">Signature Collections</p>
			        </div>
				</div>
				{# <h3>Signature Collections</h3> #}
				<div class="home-section-text -collections">
					<p class="home-quote -collections">{{post.collections_description}}</p>
					<a href="" class="home-link -collections">Experience the collections</a>
				</div>

		</div>
	</section>

{% endblock %}

{% block after_content %}
	<footer>
		{# <div id="instafeed"></div> #}
		<script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/f3ee2eb5dded2e2446663f1a34172188d3a56cac.html" id="instansive_f3ee2eb5dd" name="instansive_f3ee2eb5dd"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
	</footer>
{% endblock %}









