
{# NOTE: Index is not being used anywhere #}

{% extends "base.twig" %}

{% block before_content %}{% endblock %}

{% block content %}
	<section class="spotlight">
		<div class="contain--xl">
			<div class="spotlight-wrap">
			
				<header class="spotlight-header -small">
					<h1 class="spotlight-title"><span class="spotlight-title-compliment">In the</span> <span class="spotlight-title-main">Spotlight</span></h1>
				</header>

				<div class="spotlight-main">
					<div class="spotlight-tab-content teaser lazyload">
						{% for row in post.get_field('connected_content')|slice(0,1) %}
							
							{% if row.connected_content_type == 'collection' %}
								{% set c = TimberTerm(row.connected_collection) %}
								{% set image = TimberImage(c.spotlight_image).src %}
							{% elseif row.connected_content_type == 'post_project' %}
								{% set p = TimberPost(row.connected_post) %}
								{% set image = TimberImage(p.thumbnail).src %}
							{% endif %}
							<img 
								data-sizes="auto"
								class="lazyload"
								data-srcset="{{image|resize(500)}} 500w,
									{{image|resize(800)}} 640w,
									{{image|resize(1200,800)}} 1024w"
									class="lazyload" 
									src="{{placeholder}}" alt="Spotlight Image">
						{% endfor %}
					</div>
					<div class="spotlight-holder">
						<img src="{{placeholder}}" alt="">
					</div>
				</div>

				<nav class="spotlight-nav">
					<header class="spotlight-header -large">
						<h1 class="spotlight-title"><span class="spotlight-title-compliment">In the</span> <span class="spotlight-title-main">Spotlight</span></h1>
					</header>

					<a href="#" class="spotlight-next flickity-prev-next-button next">
						{% include 'utility/svg.twig' with { file: 'arrow-right' } %}
					</a>

					<ul class="spotlight-tabs">
						{% for row in post.get_field('connected_content') %}
							<li class="spotlight-tab{{ loop.first ? ' active' }}">

							{% if row.connected_content_type == 'collection' %}

								{% set c = TimberTerm(row.connected_collection) %}
								<a href="{{c.link}}" data-target="#{{c.title|sanitize}}" class="spotlight-tab-link" data-src="{{TimberImage(c.spotlight_image).src|resize(1200,800)}}">
									<p class="spotlight-sidebar-compliment">Collection</p>
									<h5 class="spotlight-sidebar-title">{{c.title}}</h5>
								</a>
							
							{% elseif row.connected_content_type == 'post_project' %}

								{% set p = TimberPost(row.connected_post) %}
								<a href="{{p.link}}" data-target="#{{p.title|sanitize}}" class="spotlight-tab-link" data-src="{{p.thumbnail.src|resize(1200,800)}}">
									<p class="spotlight-sidebar-compliment">{{p.post_type == 'post' ? 'Stories' : 'Bespoke'}}</p>
									<h5 class="spotlight-sidebar-title">{{p.title}}</h5>
								</a>

							{% endif %}

							</li>
						{% endfor %}
					</ul>

					<a href="#" class="spotlight-prev flickity-prev-next-button previous">
						{% include 'utility/svg.twig' with { file: 'arrow-left' } %}
					</a>
				</nav>

			</div>
		</div>
	</section>
	
	<section class="home-section -about text-center">
		{% set about_img = TimberImage(post.about_image) %}

		<div class="home-section-img -about">
			<img class="about-image" src="{{about_img.src|resize(500)}}" alt="{{about_img.title}}">
		</div>
		<div class="home-section-text -about">
			<p class="home-quote -about">{{post.about_tagline}}</p>
			<p>{{post.about_description}}</p>
			<a href="{{post.explore_work_link}}" class="home-link -about">{{post.explore_link_text}}</a>
			{% include 'partials/_social-list.twig' with { class : '-about' } %}
		</div>
	</section>

	<section class="home-section -collections" style="background-image: url({{TimberImage(post.home_bkgd_image).src|resize(800)}})">
		<div class="home-section-inner">

				<div class="home-section-img -collections">
					<a href="{{TimberPost(post.collections_link).link}}">
					<div class="home-img -collections">
						{% include 'utility/svg.twig' with { file : 'wordmark', prefix : 'wordmark' } %}
			            {% include 'utility/svg.twig' with { file: 'text-logo', prefix: 'logo' } %}
						<p class="home-title home-link -collections">{{post.collections_link_text_left}}</p>
			        </div>
			    </a>	
				</div>
				<div class="home-section-text -collections">
					<p class="home-quote -collections">{{post.collections_description}}</p>
					<a href="{{TimberPost(post.collections_link).link}}" class="home-link -collections">{{post.collections_link_text_right}}</a>
				</div>

		</div>
	</section>

	<section class="home-section -slider">
		<div class="contain--lg">

			<h4 class="single-footer-title">{{post.connected_pieces_text}}</h4>
			<div class="thumb-slider teaser lazyload" data-expand="-20">
				{% for piece in post.connected_pieces %}
					{% set piece = TimberPost(piece) %}
					<div class="thumb">
						<a href="{{piece.link}}">
						{% if piece.thumbnail %}
							<img data-src="{{piece.thumbnail.src|resize(500, 500)}}" alt="{{piece.post_title}} Thumbnail" src="{{piece.thumbnail.src|resize(100,100)}}" class="lazyload">
						{% else %}
							<img src="{{placeholder}}" alt="Thumbnail">
						{% endif %}
						</a>
					</div>
				{% endfor %}
			</div>
		
		</div>
	</section>
</div>

{% endblock %}

{% block after_content %}
	<footer>
		<script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/f3ee2eb5dded2e2446663f1a34172188d3a56cac.html" id="instansive_f3ee2eb5dd" name="instansive_f3ee2eb5dd"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
	</footer>
{% endblock %}









