{% extends 'headers/header.twig' %}

{% block header_content %}

<nav class="nav -util contain--lg">
    <div class="util-grid">
        <div class="util-cell -start">
            <div class="search-wrap">
                {% include 'partials/search-form.twig' %}
            </div>
        </div>
        <div class="util-cell">
            <a href="{{site.link}}" class="logo-link cell--half">
                {% include 'utility/svg.twig' with { file: 'text-logo', prefix: 'logo' } %}
                {# <img src="{{site.theme.link}}/assets/img/svg-min/text-logo.min.svg" class="logo-text-logo" alt=""> #}
            </a>
        </div>
        <div class="util-cell -end">
            <a href="{{wishlist_page_link}}" class="wishlist-link">{{wishlist_page_text}} (<span id="wishListCount"></span>)</a>
        </div>
    </div>
</nav> <!-- /.nav.-util -->
  
<nav class="nav -site" role="navigation">
    <a href="#" class="nav-item-link" id="navOpenLink">Menu</a>
    <ul class="nav-list -site" id="toggleNav">
    {% for item in menu.items %}
        <li class="nav-item -site{{ item.get_children ? ' has-subnav' }}">
            <a href="{{item.link}}" class="nav-item-link">{{item.title}}</a>
            {% if item.get_children %}
                <div class="subnav-wrapper -site">
                    <ul class="subnav-list -site {{'-mega' in item.classes ? '-mega' : '-reg'}}">
                    {% for child in item.get_children %}
                       {% include 'partials/subnav-item.twig' %}
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</nav><!-- /.nav.-site -->

{% endblock %}