{% extends 'headers/header.twig' %}

{% block header_content %}

	<div class="contain--md text-center">
		<h1 class="title -{{post.post_type}}">{{post.post_title}}</h1>
	
		{% if post.header_tagline %}
			<p>{{post.header_tagline}}</p>
		{% endif %}
		{% if post.header_tagline %}
			<p>{{post.header_summary}}</p>
		{% endif %}

		<p class="single-meta -{{post.post_type}}">{{post.date}}</p>
	</div>	

	{% if post.header_display == 'image' %}

		<div class="teaser lazyload {% if post.post_type == 'post' %}contain--md{% else %}contain--lg{% endif %}">
			{% set image = TimberImage(post.header_image_desktop).src %}
			<img 
				data-sizes="auto"
				class="lazyload header-picture"
				data-srcset="{{image|resize(500)}} 500w,
					{{image|resize(800)}} 640w,
					{{image|resize(1200)}} 1024w"
					class="lazyload" 
					src="{{image|resize(300)}}" alt="Header Image">
		</div>
	{% elseif post.header_display == 'text'%}
		{# TODO: there will probably be some unique stuff here, maybe a different display of the header info #}
	{% endif %}

	{% endblock %}