{% extends 'headers/header.twig' %}

{% block header_content %}

<nav class="nav -util contain--lg">
    <div class="util-grid">
        <div class="util-cell -start">
            <div class="search-wrap">
                {% include 'partials/search-form.twig' %}
            </div>
        </div>
        <div class="util-cell -center">
            <a href="{{site.link}}" class="logo-link cell--half">
                {% include 'utility/svg.twig' with { file: 'text-logo', prefix: 'logo' } %}
                {# <img src="{{site.theme.link}}/assets/img/svg-min/text-logo.min.svg" class="logo-text-logo" alt=""> #}
            </a>
        </div>
        <div class="util-cell -end">
            <a href="{{wishlist_page_link}}" class="wishlist-link">{{wishlist_page_text}} (<span id="wishListCount">0</span>)</a>
        </div>
    </div>
</nav> <!-- /.nav.-util -->
  
<nav class="nav -site" role="navigation">
    <a href="#" class="nav-item-link" id="navOpenLink">Menu</a>
    <ul class="nav-list -site" id="toggleNav">
    {% for item in menu.items %}
        <li class="nav-item -site{{ item.get_children ? ' has-subnav' }}">
            <a href="{{item.link}}" class="nav-item-link">{{item.title}}</a>
            
            {% if item.get_children %}
                <div class="subnav-main">
                    <div class="subnav-wrapper -site">
                        
                        {# TODO: Remove this hardcoded-ness #}
                        {% if item.title == "Collections" %}
                            <div class="subnav-highlight">
                                {% set all = TimberPost(all_collections_page) %}
                                {% set img = all.thumbnail %}
                                <a href="{{all.link}}" class="subnav-item-link">
                                    <div class="subnav-item-inner -highlight">
                                        <div class="subnav-item-part -img">
                                            {% if img %}
                                                <img data-src="{{img.src|resize(400, 400)}}" src="{{img.src|resize(100, 100)}}" class="tease-img lazyload" alt="{{all.title}} Thumbnail">
                                            {% else %}
                                                <img src="http://placehold.it/200x200" class="tease-img lazyload" alt="{{all.title}} Thumbnail">
                                            {% endif %}
                                        </div>

                                        <div class="subnav-item-part -text">
                                            <h4 class="subnav-item-title">{{all.title}}</h4>
                                            <p class="subnav-item-desc">{{all.thumbnail_blurb}}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}

                        <ul class="subnav-list -site {{'-special' in item.classes ? '-special'}}">
                            {% for child in item.get_children %}
                               {% include 'partials/subnav-item.twig' %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </li>
    {% endfor %}
        <li class="nav-item -site -search">
            <div class="nav-item-link">
                {% include 'partials/search-form.twig' %}
            </div>
        </li>
    </ul>
</nav><!-- /.nav.-site -->

{% endblock %}