
{# Base header template #}

{% set h_class = ' class="header ' ~ class ~ '"' %}
{% set h_role = ' role="' ~ role ~ '"' %}

<header{{ class ? h_class }}{{role ? h_role }}>
	{% block header_content %}

	{% if post.header_display == 'image' %}
		<div class="contain--lg teaser lazyload">
			{% set image = TimberImage(post.header_image_desktop).src %}
			{% set tablet = TimberImage(post.header_image_tablet).src %}
			{% set mobile = TimberImage(post.header_image_mobile).src %}

			{# TODO: Adjust dimensions once we decide on them #}
			{# <picture class="header-picture">
				<source class="lazyload" data-srcset="{{desktop|resize(1200, 725)}}" media="(min-width: 1100px)">
				<source data-srcset="{{tablet ? tablet|resize(900) : desktop|resize(900)}}" media="(min-width: 736px)"> #}
				{# TODO: Better placeholder #}
		{# 		<img data-srcset="{{mobile ? mobile|resize(600) : desktop|resize(600)}}" src="{{placeholder}}" alt="{{post.post_title}}">
			</picture> #}
			<img 
				data-sizes="auto"
				class="lazyload header-picture"
				data-srcset="{{image|resize(500)}} 500w,
					{{image|resize(800)}} 640w,
					{{image|resize(1200)}} 1024w"
					class="lazyload" 
					src="{{image|resize(300)}}" alt="Header Image">
		</div>
	{% elseif post.header_display == 'text'%}
		{# TODO: there will probably be some unique stuff here, maybe a different display of the header info #}
	{% endif %}
	
	<div class="contain--md">
		<h1 class="title -page">{{post.post_title}}</h1>
		{% if post.header_tagline %}
			<p>{{post.header_tagline}}</p>
		{% endif %}
		{% if post.header_tagline %}
			<p>{{post.header_summary}}</p>
		{% endif %}
	</div>	

	{% endblock %}
</header>