
{# Base header template #}

{% set h_class = ' class="header ' ~ class ~ '"' %}
{% set h_role = ' role="' ~ role ~ '"' %}

<header{{ class ? h_class }}{{role ? h_role }}>
	{% block header_content %}

	{% if post.header_display == 'image' %}
		<div class="contain--lg teaser lazyload">
			{% set image = TimberImage(post.header_image_desktop).src %}
			<img 
				data-sizes="auto"
				class="lazyload header-picture"
				data-srcset="{{image|resize(500)}} 500w,
					{{image|resize(800)}} 640w,
					{{image|resize(1200)}} 1024w"
					class="lazyload" 
					src="{{placeholder_light}}" alt="Header Image">
		</div>
	{% elseif post.header_display == 'text'%}
		{# TODO: there will probably be some unique stuff here, maybe a different display of the header info #}
	{% endif %}
	
	<div class="contain--md">
		<h1 class="title -page">{{post.post_title}}</h1>
		{% if post.header_tagline %}
			<p>{{post.header_tagline}}</p>
		{% endif %}
		{% if post.header_tagline %}
			<p>{{post.header_summary}}</p>
		{% endif %}
	</div>	

	{% endblock %}
</header>