{% extends "teases/tease.twig" %}

{% block content %}
	<a href="{{post.post_link}}">
		{% if post.thumbnail.src %}
			<img data-src="{{post.thumbnail.src|resize(500, 400)}}" src="{{placeholder}}" class="lazyload" />
		{% endif %}
		<h4 class="tease-title"><a href="{{post.link}}">{{post.post_title}}</a></h4>
		<p>{{post.header_summary}}</p>
		{% include 'utility/svg.twig' with { prefix: 'icon', file: 'arrow-right' } %}
	</a>
{% endblock %}
