{% extends "teases/tease.twig" %}

{% block content %}
	<a href="{{post.link}}">
		{% if post.thumbnail.src %}

			{% set img = TimberImage(post.thumbnail.src) %}
			
			<img 
				data-srcset="{{img|resize(500, 500)}} 500w,
					{{img|resize(700, 700)}} 640w,
					{{img|resize(900, 900)}} 1024w"
				src="{{placeholder}}"
				class="lazyload" />

		{% endif %}
		
		<div class="tease-info -project">
			<h4 class="tease-title -project">{{post.post_title}}</h4>
			{% if post.header_tagline %}<p>{{post.header_summary}}</p>{% endif %}
			{# {% include 'utility/svg.twig' with { prefix: 'icon', file: 'arrow-right' } %} #}
		</div>
	</a>
	{% include 'utility/edit-link.twig' %}

{% endblock %}
