{% extends "teases/tease.twig" %}

{% block content %}
	<div>
		{% if post.thumbnail.src %}
		<div class="tease-img -post">
			<a href="{{post.link}}">
				<img 
				data-srcset="{{post.thumbnail.src|resize(500, 500)}} 500w,
					{{post.thumbnail.src|resize(700, 700)}} 640w,
					{{post.thumbnail.src|resize(900, 900)}} 1024w"
				src="{{placeholder_light}}"
				class="lazyload tease-img" 
				alt="{{post.title}} Thumbnail" />
			</a>
		</div>
		{% endif %}
		<div class="tease-info -{{post.post_type}}">
			<h4 class="tease-title -{{post.post_type}}"><a href="{{post.link}}">{{post.title}}</a></h4>
			<p class="meta-upper">{{post.date}}</p>
			<p>{{post.post_excerpt ? post.post_excerpt : post.header_summary}}<a href="{{post.link}}"> (more...)</a></p>
		</div>
	</div>
	{% include 'utility/edit-link.twig' %}
{% endblock %}