{% extends "teases/tease.twig" %}

{% block content %}
	<a href="{{post.link}}">
		{% if post.thumbnail %}

			<img 
				data-srcset="{{post.thumbnail.src|resize(500, 500)}} 500w,
					{{post.thumbnail.src|resize(700, 700)}} 640w,
					{{post.thumbnail.src|resize(900, 900)}} 1024w"
				src="{{placeholder_light}}"
				class="lazyload tease-img -piece" 
				alt="{{post.title}} Thumbnail"/>

		{% endif %}
		<div class="tease-info -{{post.post_type}}">
			<h4 class="tease-title -{{post.post_type}}">{{post.post_title}}</h4>
			{% if post.header_tagline %}<p>{{post.header_tagline}}</p>{% endif %}
		</div>
	</a>
	{% include 'utility/edit-link.twig' %}
{% endblock %}