{% extends "teases/tease.twig" %}

{% block content %}
	<a href="{{post.link}}">
		{% if post.thumbnail.src %}

			{% set img = TimberImage(post.thumbnail.src) %}
			
			<img 
				data-srcset="{{img|resize(500, 500)}} 500w,
					{{img|resize(700, 700)}} 640w,
					{{img|resize(900, 900)}} 1024w"
				src="{{placeholder_light}}"
				class="lazyload tease-img -project" 
				alt="{{post.title}} Thumbnail" />

		{% endif %}
		
		<div class="tease-info -project">
			<h4 class="tease-title -project">{{post.post_title}}</h4>
		</div>
	</a>
	{% include 'utility/edit-link.twig' %}

{% endblock %}
