{% extends "teases/tease.twig" %}

{# TODO: Customize markup in here #}
{% block content %}
	<div class="grid">
		{% if post.thumbnail.src %}
		<div class="tease-img -post">
			<a href="{{post.link}}">
				<img src="{{post.thumbnail.src|resize(400, 400)}}" alt="{{post.title}} Thumbnail">
			</a>
		</div>
		{% endif %}
		<div class="tease-info -{{post.post_type}} cell">
			<h4 style="margin:0;padding-bottom:0" class="tease-title -{{post.post_type}}">{{post.title}}</h4>
			<p style="margin:0" class="meta-upper">{{post.date}}</p>
			<p>{{post.post_excerpt ? post.post_excerpt : post.header_summary}}</p>
			<p><a href="{{post.link}}">Read more...</a></p>
			<p class="tease-meta -post">
				{% if post.get_terms('category') %}
					{# <span class="meta-upper">Filed under: </span> #}
					{% for c in post.get_terms('category') %}
						<a class="tease-meta-link" href="{{c.link}}">{{c.name}}</a>{% if not loop.last %}, {% endif %}
					{% endfor %}
				{% endif %}
			</p>
		</div>
	</div>
	{% include 'utility/edit-link.twig' %}
{% endblock %}