{% extends 'archives/taxonomy.twig' %}

{% block before_content %}
	{% include 'headers/_header-collection.twig' with { h_class: '-collection' } %}
{% endblock %}

{% block content %}
	<div class="contain--xl">
		<div class="archive-main -piece">
			{% for post in posts %}
				{% include 'teases/_tease-' ~ post.post_type ~ '.twig' with { class: 'cell--half' } %}
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block after_content %}
	<div class="contain--lg teaser lazyload">
		<h4 class="archive-footer-title -collection">Other Collections</h4>
		<div class="archive-footer-content">
		{% for c in collections %}
			{# Exclude the current term #}
			{% if c.title != term.title %}
				<div class="tease -collection">
					<a href="{{c.link}}">
						<img data-src="{{TimberImage(c.featured_image).src|resize(400)}}" src="{{placeholder}}" class="lazyload tease-img -collection" alt="{{c.name}} Thumbnail">
						<h4 class="tease-title -collection">{{c.title}}</h4>
					</a>
				</div>
			{% endif %}
		{% endfor %}
		</div>
	</div>
{% endblock %}
