{% extends 'navs/nav.twig' %}

{% block nav_content %}
	
	{% set nextThumb = post.next.thumbnail.file_loc|resize(100, 100) %}
	{% set prevThumb = post.prev.thumbnail.file_loc|resize(100, 100) %}
	
	<div class="prevnext">

		{# Previous #}
		<div class="prev-cell">
			{% if post.prev %}
			<a href="{{post.prev.link}}">
				{% if prevThumb %}
					<img src="{{prevThumb}}" alt="{{post.prev.title}}">
				{% endif %}
				<p class="prevnext-compliment">&larr; {{post.prev.title}}</p>
			</a>
			{% endif %}
		</div>

		{# Next #}
		<div class="next-cell">
			{% if post.next %}
				<a href="{{post.next.link}}">
					{% if nextThumb %}
						<img src="{{nextThumb}}" alt="{{post.next.title}}">
					{% endif %}
					<p class="prevnext-compliment">
						<p class="prevnext-compliment">{{post.next.title}} &rarr;</p>
					</p>
				</a>
			{% endif %}
		</div>

	</div>
{% endblock %}