{% extends "blocks/block.twig" %}

{% block content %}
	{% if block.textimage_format == 'caption'%}
		<img src="{{block.textimage_image}}" alt="{{post.post_title}}">
		<p class="block--textimage__caption">{{block.textimage_caption}}</p>
	{% elseif block.textimage_format == 'paragraph'%}
		<img src="{{block.textimage_image|resize(900)}}" alt="{{post.post_title}}">
		{{block.textimage_paragraph}}
	{% endif %}
{% endblock %}