{% extends "blocks/block.twig" %}

{% block content %}
	{# {% include 'partials/_gallery.twig' with { gallery: block.gallery, class: 'block' } %} #}
	<div class="gallery -block teaser">

		{% for image in block.gallery %}
			<div class="gallery-thumb -block">
				<img 
					data-sizes="auto"
					data-srcset="{{image.url|resize(500)}} 500w,
						{{image.url|resize(800)}} 640w,
						{{image.url|resize(1200)}} 1024w"
						class="slider-img -full lazyload" 
						src="{{image.url|resize(500)}}" alt="{{image.title}}">

			</div>
		{% endfor %}

	</div>
{% endblock %}
