{% extends "blocks/block.twig" %}

{% block content %}

<div class="contain--lg">
	<div class="gallery -block teaser lazyload">

		{% for image in block.gallery %}
			<div class="gallery-thumb -block">
				<img
					data-sizes="auto"
					data-srcset="{{image.src|resize(500)}} 500w,
						{{image.src|resize(800)}} 640w,
						{{image.src|resize(1200)}} 1024w"
						class="lazyload"
						src="{{image.src|resize(500)}}" alt="{{image.title}}">
			</div>
		{% endfor %}

	</div>
</div>
{% endblock %}


