{% extends "singles/single.twig" %}

{% block before_content %}
	<div class="contain--lg">
		<nav class="crumbs">
			{% for t in post.get_terms('collection')|slice(0,1) %}
				<a class="crumb -collection" href="{{t.link}}">&larr; Back to collection</a>
			{% endfor %}
		</nav>
	</div>
{% endblock %}

{% block content %}

	<div class="contain--md">
		
		<div class="grid">
			<div class="cell--half">
				{% set img = TimberImage(post.thumbnail.src) %}
				<img 
					data-magnify-src={{img|resize(1800)}} data-srcset="{{img|resize(500)}} 500w,
						{{img|resize(700)}} 640w,
						{{img|resize(1024)}} 1024w"
					src="{{placeholder}}"
					class="lazyload magnify" />
					<p class="helper-text -piece">Hover to zoom.</p>
			</div>

			<div class="cell--half">
				
				{% for t in post.get_terms('collection')|slice(0,1) %}
					<p class="single-title-compliment -piece">{{t.name}}</p>
				{% endfor %}

				<h1 class="single-title -piece">{{post.title}}</h1>
				<div class="single-sidebar-text">
					{{post.long_description|wpautop}}
				</div>
				
				<aside class="single-sidebar -piece">

					<h4 class="single-sidebar-title accordion-trigger">{{color_swatches_section_title ? color_swatches_section_title : 'Colors'}}</h4>

					<ul class="single-sidebar-list accordion-target">
						{% for swatch in post.get_field('color_swatches') %}
							<li class="single-sidebar-swatch">{% set img = TimberImage(swatch.image) %}
								<img 
									data-srcset="{{img|resize(500)}} 500w,
										{{img|resize(700)}} 640w,
										{{img|resize(1024)}} 1024w"
									src="{{swatch.image}}"
									class="lazyload" />
								{{swatch.description|wpautop}}
							</li>
						{% endfor %}
					</ul>

					<h4 class="single-sidebar-title accordion-trigger">{{piece_details_section_title ? piece_details_section_title : 'Piece Details'}}</h4>

					<ul class="single-sidebar-list accordion-target">
						{% if post.size %}
							<li>{{post.size}}</li>
						{% endif %}
						{% if post.pricing %}
							<li>{{post.pricing}}</li>
						{% endif %}
						{% if post.double_sided %}<li>Double Sided</li>{% endif %}
							{% if post.styles_of_printing %}
							<li>
								<p class="single-sidebar-sublist-title">Available in:</p>
								<ul class="single-sidebar-sublist">
								{% for style in post.styles_of_printing %}
									<li>{{style}}</li>
								{% endfor %}
								</ul>
							</li>
						{% endif %}
						{% for info in post.get_field('freeform_info') %}
							<li>{{info.title}}: {{info.value}}</li>
						{% endfor %}
					</ul>

					<h4 class="single-sidebar-title accordion-trigger">{{concierge_text_title ? concierge_text_title : 'Concierge'}}</h4>
					
					<div class="accordion-target">
						{{concierge_text}}
					</div>
					
				</aside>
				
			</div>
		</div> <!-- /.grid -->
		
	</div>
	
	{% for block in post.get_field('blocks') %} 
		{% include 'blocks/block-logic.twig' %}
	{% endfor %}

{% endblock %}