{% extends "singles/single.twig" %}

{% block before_content %}
	<div class="">
		{% include 'partials/_gallery-slider.twig' with { gallery: post.get_field('gallery') } %}
	</div>
	<div class="contain--md">
		<h1 class="title -page">{{post.post_title}}</h1>
		{% if post.header_tagline %}
			<p>{{post.header_tagline}}</p>
		{% endif %}
		{% if post.header_tagline %}
			<p>{{post.header_summary}}</p>
		{% endif %}
	</div>	
{% endblock %}

{% block content %}
	{% if post.client %}
		<div class="contain--sm text-center">
			<p class="client">Client: {{post.client_link ? '<a href="' ~ post.client_link ~ ' " target="blank">'}}{{post.client}}{{post.client_link ? '</a>'}}</p> 
		</div>
	{% endif %}

	{% for block in post.get_field('blocks') %} 
		{% include 'blocks/block-logic.twig' %}
	{% endfor %}
{% endblock %}