{% extends "base.twig" %}

{% block before_content %}
	{% include 'headers/_header-single.twig' with { class : '-single -' ~ post.post_type } %}
{% endblock %}

{% block content %}
	{% for block in post.get_field('blocks') %} 
		{% include 'blocks/block-logic.twig' %}
	{% endfor %}
{% endblock %}

{% block after_content %}
	
	<div class="tease-meta -footer -post">

		{% if post.get_terms('category') %}
			<div class="meta-wrap">
				<p class="meta-upper">{{post.post_type == 'project' ? 'Services' : 'Featured In' }}</p>
				{% for c in post.get_terms('category') %}
					<a class="tease-meta" href="{{c.link}}{{post.post_type == 'project' ? '?post_type=project' }}">{{c.name}}</a>{% if not loop.last %}, {% endif %}
				{% endfor %}
			</div>
		{% endif %}
		
		{% if post.get_terms('post_tag') %}
			<div class="meta-wrap">
				<p class="meta-upper">Tagged</p>
				{% for c in post.get_terms('post_tag') %}
					<a class="tease-meta" href="{{c.link}}">{{c.name}}</a>{% if not loop.last %}, {% endif %}
				{% endfor %}
			</div>
		{% endif %}

		{% if post.get_terms('industry') %}
			<div class="meta-wrap">
				<p class="meta-upper">Industry</p>
				{% for c in post.get_terms('industry') %}
					<a class="tease-meta" href="{{c.link}}{{post.post_type == 'project' ? '?post_type=project' }}">{{c.name}}</a>{% if not loop.last %}, {% endif %}
				{% endfor %}
			</div>
		{% endif %}

	</div>
	
	{% if post.post_type != 'piece' %}
		{% include 'navs/_nav-prevnext.twig' with { n_class: 'contain--md' } %}
	{% endif %}

	{% include ['footers/_footer-' ~ post.post_type ~ '.twig', 'footers/footer.twig'] with { class: post.post_type ? '-' ~ post.post_type } %}
{% endblock %}