{% extends "base.twig" %}

{% block content %}

	{# {% include 'headers/_header-page.twig' with { h_class: 'header--page' } %} #}

	<header class="banner">
		<div class="banner-border">
			<div class="banner-wrap">
				<div class="banner-logos">
					{% include 'utility/svg.twig' with { file : 'wordmark', prefix : 'wordmark' } %}
		            {% include 'utility/svg.twig' with { file: 'text-logo', prefix: 'logo' } %}
	            </div>
				<h1 class="banner-title">{{post.title}}</h1>
				<p class="banner-tagline">{{post.header_summary}}</p>
			</div>
			<div class="banner-prompt">
				<p class="banner-prompt-text">Discover More</p>
		    	{% include 'utility/svg.twig' with { file: 'arrow-down', prefix: 'icon' } %}
			</div>
		</div>
	</header>

	{% for c in terms %}
	
		{% set feat = TimberImage(c.featured_image) %}
	
		<section class="archive-quote" data-title="{{c.title}}">
			<div class="cell">
				<div class="archive-quote-inner">
					<h4 class="archive-quote-title">{{c.description_title ? c.description_title : "Title Here"}}</h4>
					<blockquote class="archive-quote-content{{ loop.index == 1 ? ' -first'}}">
						{{c.long_description}}
					</blockquote>
					<a class="btn -readmore" href="{{c.link}}" title="{{c.title}}">See {{c.title}}</a>
				</div>
			</div>
		</section> <!-- /.archive-quote -->

		<section class="archive-images teaser lazyload" data-title="{{c.title}}">
			<div class="archive-images-inner">

				<div class="archive-images-featured">

						<figure class="gallery-thumb">
							{% include 'partials/_large-feat-img.twig' with { img : feat } %}
							<figcaption class="thumb-caption -hoverable -collection">
								<a href="{{c.link}}">
								See the entire {{c.title}} Collection	
								</a>
							</figcaption>
						</figure>

				</div>
				
				<div class="archive-images-inspiration -first">
					
					<div class="gallery -inspiration">
						{% set gallery = c.inspiration_gallery %}
						{% for image in gallery|slice(0,2) %}
							<figure class="gallery-thumb -inspiration">
								<img data-src="{{image.url|resize(600)}}" src="{{image.url|resize(100)}}" class="lazyload" alt="{{image.title}}">
								<figcaption class="thumb-caption -hoverable">
									<a href="{{c.link_to_pinterest_board}}" target="blank">
										See the Pinterest Board that Inspired the Collection
									</a>
								</figcaption>
							</figure>
						{% endfor %}
					</div>
				</div>

				<div class="archive-images-inspiration -second{{ loop.last ? ' -last' }}">
					
					<div class="gallery -inspiration">
						{% for image in gallery|slice(2,4) %}
							<figure class="gallery-thumb -inspiration">
								<img data-src="{{image.url|resize(600)}}" src="{{image.url|resize(100)}}" class="lazyload" alt="{{image.title}}">
								<figcaption class="thumb-caption -hoverable">
									<a href="{{c.link_to_pinterest_board}}" target="blank">See the Pinterest Board the inspired the Collection
									</a>
								</figcaption>
							</figure>
						{% endfor %}
					</div>

				</div>

			</div>
		</section> <!-- /.archive-images -->

	{% endfor %}
	
{% endblock %}