{% extends 'footers/footer.twig' %}

{% block footer_content %}
	<div class="contain--lg">
		<h4 class="single-footer-title">In This Collection</h4>
		<div class="thumb-slider teaser lazyload" data-expand="-20">
			{% for piece in pieces %}
				<div class="thumb">
					<a href="{{piece.link}}">
					{% if piece.thumbnail %}
						<img data-src="{{piece.thumbnail.src|resize(500, 500)}}" alt="{{piece.post_title}} Thumbnail" src="{{placeholder}}" class="lazyload">
					{% else %}
						{# TODO: replace this with something we serve. #}
						<img src="{{piece.thumbnail.src|resize(100,100)}}" alt="Thumbnail">
					{% endif %}
					<div class="tease-info -{{piece.post_type}}">
						<h4 class="tease-title -{{piece.post_type}}">{{piece.post_title}}</h4>
						{% if piece.header_tagline %}<p>{{piece.header_tagline}}</p>{% endif %}
					</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}